# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates


bin/
**/bin/
# Project Files
# [Gg]enerated_project_files
[Bb]uild

# [Bb]uild_Win32
# [Bb]uild_x64
# _Dependencies
