[submodule "Vendor/magic_enum"]
	path = Vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "Vendor/json"]
	path = Vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "Vendor/yaml-cpp"]
	path = Vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
